/* * {
  box-sizing: border-box;
}*/

.box {
  display: inline-block;

  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  border-radius: 5px;
  margin: 10px;

  /* padding-top: 16px;
padding-right: 42px;
padding-bottom: 16px;
padding-left: 42px;
*/
  /* padding: 16px 42px 16px 42px; */
  /* padding: 16px 42px; */
}

/* .box-gold {
  background-color: gold;
}*/

/*.box:first-child {
  background-color: gold;
}*/
/*.box:nth-child(even) {
  background-color: gold;
}*/

.box:nth-child(2n + 3) {
  /* 3, 5, 7 */
  background-color: gold;
}
