/* * {
  box-sizing: border-box;
}*/
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  /* width: 100px; */
  flex-basis: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;

  /* flex: 0 1 auto; */
}

/* .item:nth-child(2) {
  align-self: flex-end;
}

 .item:nth-child(3) {
  flex-shrink: 0;
}

.item:nth-child(3) {
  flex-shrink: 1;
} */

.item:nth-child(2) {
  order: 1;
  flex-basis: 50px;
  height: 50px;
  align-self: end;
}

.item:nth-child(3) {
  order: 2;
  flex-basis: 80px;
  height: 80px;
}

/* .box {
   display: inline-block; 
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;
  /* border-radius: 5px; */

/* padding-top: 16px;
padding-right: 42px;
padding-bottom: 16px;
padding-left: 42px;
*/
/* padding: 16px 42px 16px 42px; */
/* padding: 16px 42px; 
} */

/* .box-gold {
  background-color: gold;
}*/

/*.box:first-child {
  background-color: gold;
}*/
/*.box:nth-child(even) {
  background-color: gold;
}

/* .box:nth-child(2n + 4) {
  /* 3, 5, 7 */
/* background-color: gold;
} */

.test-box {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  margin: 20px auto;
  /* background-image: linear-gradient(
    45deg,
    gold 50%,
    green 50%,
    green 70%,
    blue 70%,
    blue 100%*/
  background-image: radial-gradient(gold 50%, green 70%, blue 100%);
  box-shadow: 2px 4px 16px 4px red, 6px 8px 5px 8px greenyellow;
}
