.chefs-title {
  position: relative;
  /*max-width: 520px;*/
  margin: 0 auto 80px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
