.chefs-section {
.chefs__title {
  position: relative;
  /*max-width: 520px;*/
  margin: 0 auto 80px;
}
    }

.chefs__title::before,
.chefs__title::after {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chefs__title::before {
  left: 0;
}

.chefs__title::after {
  right: 0;
}

.chefs__list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs__item {
  flex-basis: calc((100% - 30px) / 2);
}
