.contact-section {
  padding-bottom: 96px;
}

.contact__container {
  display: flex;
  gap: 32px;
}

.contact__title {
  margin-bottom: 16px;
}

.contact__map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
