.form-field {
  margin-bottom: 32px;
}

.form__label {
  position: absolute;
  top: 16px;
  left: 42px;
}

/*.form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
} */

.form__input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form__input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
}

.form__input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form__button {
  display: block;
  margin: 0 auto 24px;
}

