.traditions-section {
  padding-top: 96px;
  gap: 100px;
}

.traditions__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions__content {
  max-width: 710px;
}

.traditions__title {
  margin-bottom: 42px;
}

.traditions__text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions__text .uppercase {
  text-transform: uppercase;
}

.traditions__text.limited {
  max-width: 340px;
}

.traditions-section__image {
  display: none;
  border-radius: 400px 400px 0px 0px;
}